<% title(@question.phrase, "Questions")%>

<h2>How do you say "<%= @question.phrase %>" in <%= @question.language.name unless @question.language.nil?%>?</h2>

<%= link_to "edit", edit_question_path(@question) %>

<%= link_to "delete",
     question_path(@question),
     method: :delete,
     data: { confirm:
               "Are you sure you want to delete this question?"
           } %>

<%= link_to "answer", new_question_answer_path(@question) %>

<ul id='answers'>
  <% @question.answers.each do |answer| %>
    <li>
      #<%= answer.id %> -
      <%= link_to answer.response, [@question, answer] %>
    </li>
  <% end %>
</ul>