<h3>Log in to continue</h3>
<%= form_for :signin, method: "POST" do |f| %>
  <p>
    <%= f.label :name, "username" %><br />
    <%= f.text_field :name %>
	</p>
	<p>
    <%= f.label :password, "password" %><br />
    <%= f.password_field :password %>
  </p>
  
  <%= f.submit "Log in" %>
<% end %>

