= form_for [@question, @answer], multipart: true do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2
        = pluralize(@answer.errors.count, "error")
        prohibited this answer from being saved:
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg
  / thanks to Matt Diamond for the audio capture code below
  %div
    %audio{autoplay: "", controls: ""}
    = javascript_include_tag "recorder.js"
    / <fieldset>
    / <legend>record your answer</legend>
    %br/
    %input{onclick: "startRecording()", type: "button", value: "START"}/
    %input{onclick: "stopRecording()", type: "button", value: "STOP"}/
    / </fieldset>
  :javascript
    var onFail = function(e) {
          console.log('Rejected!', e);
        };
    
        var onSuccess = function(s) {
          var context = new webkitAudioContext();
          var mediaStreamSource = context.createMediaStreamSource(s);
          recorder = new Recorder(mediaStreamSource);
          recorder.record();
    
          // audio loopback
          // mediaStreamSource.connect(context.destination);
        }
    
        window.URL = window.URL || window.webkitURL;
        navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    
        var recorder;
        var audio = document.querySelector('audio');
    
        function startRecording() {
          if (navigator.getUserMedia) {
            navigator.getUserMedia({audio: true}, onSuccess, onFail);
          } else {
            console.log('navigator.getUserMedia not present');
          }
        }
    
        function stopRecording() {
        recorder.stop();
        recorder.exportWAV(function(s) {
          audio.src = window.URL.createObjectURL(s);
          sendWaveToPost(s);                  
          });
        }
    
        function sendWaveToPost(blob) {
        alert('in');
        var data = new FormData();
    
        data.append("audio", blob, (new Date()).getTime() + ".wav");
      
        var oReq = new XMLHttpRequest();
        oReq.open("POST", "/answers/save_file");
        oReq.send(data);
        
      }
  %input#filename{name: "answer[filename]", type: "hidden"}
  %br
  = f.submit 