
	<h2>"<%= @answer.question.phrase.capitalize %>" in <%=@answer.question.language.name %>...</h2>
<!-- 	<span id='author'>Answered by <%= @answer.user.email %></span> -->
	


<audio controls="controls" autoplay>
  Your browser does not support the <code>audio</code> element.
	<source src="/<%= @answer.filename %>" type='audio/wav'>
</audio>

<ul>
	<li><%= link_to "Edit Answer", [:edit, @question, @answer] %>
	</li>
	<li>
	<%= link_to "Delete Answer", [@question, @answer], method: :delete,
data: { confirm: "Are you sure you want to delete this answer?"} %>
	</li>
</ul>