<!DOCTYPE html>
<html>
<head>
	<title>
	  <% if content_for?(:title) %>
	    <%= yield(:title) %>
	  <% else %>
	    LingoAmigo
	  <% end %>
	</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="header">
	<%= link_to "Log in", signin_path %>
	 or 
	<%= link_to "Sign up", new_user_path %>

</div>

<div id="header">
	<a href="mailto:bkong28@gmail.com">Contact us</a>
</div>


<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<h1><%= link_to "lingo amigo", root_path %></h1>
<%= yield %>

<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<br>
<br>
<div id="footer">
	<a href="mailto:bkong28@gmail.com">Leave feedback</a>
</div>

</body>
</html>
